# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
docs/.DS_Store
notebooks/.DS_Store
src/spotRiver/data/.DS_Store
src/spotRiver/.DS_Store
src/spotRiver/fun/.DS_Store
test/.DS_Store
src/.DS_Store
spotRiver.code-workspace
.DS_Store
notebooks/data/opm_2001-2020.csv
notebooks/opm.csv
notebooks/opm_cat.csv
notebooks/10-river_bartz08-2_2023-10-25_14-59-56.pkl
notebooks/10-river_bartz08-2_2023-10-25_15-17-22.pkl
notebooks/13_tensorboard_01.png
notebooks/ch10_friedman-hpt.ipynb
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_12_13.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_12_16.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_13_16.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_7_12.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_7_13.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_7_16.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_7_9.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_9_12.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_9_13.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_contour_9_16.png
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_importance.pdf
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_metrics.pdf
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_predictions.pdf
notebooks/figures/10-river_bartz08-2_2023-10-25_14-59-56_progress.pdf
notebooks/figures/10-river_bartz08-2_2023-10-25_15-17-22_contour_5_15.png
notebooks/figures/10-river_bartz08-2_2023-10-25_15-17-22_contour_5_7.png
notebooks/figures/10-river_bartz08-2_2023-10-25_15-17-22_contour_7_15.png
notebooks/figures/10-river_bartz08-2_2023-10-25_15-17-22_importance.pdf
notebooks/figures/10-river_bartz08-2_2023-10-25_15-17-22_metrics.pdf
notebooks/figures/10-river_bartz08-2_2023-10-25_15-17-22_predictions.pdf
notebooks/figures/10-river_bartz08-2_2023-10-25_15-17-22_progress.pdf
notebooks/runs_OLD/*
notebooks/runs/*
runs/spot_logs/*
runs_OLD/*
gui/runs/*
gui/runs_OLD/*
gui/plot.png
gui/spot_00_experiment.pickle
notebooks/TEST.pkl.pkl
notebooks/figures/TEST.pkl_progress.pdf
notebooks/figures/TEST.pkl_predictions.pdf
notebooks/figures/TEST.pkl_metrics.pdf
notebooks/figures/TEST.pkl_importance.pdf
notebooks/figures/TEST.pkl_contour_9_14.png
notebooks/figures/TEST.pkl_contour_9_12.png
notebooks/figures/TEST.pkl_contour_9_11.png
notebooks/figures/TEST.pkl_contour_9_10.png
notebooks/figures/TEST.pkl_contour_8_9.png
notebooks/figures/TEST.pkl_contour_8_14.png
notebooks/figures/TEST.pkl_contour_8_12.png
notebooks/figures/TEST.pkl_contour_8_11.png
notebooks/figures/TEST.pkl_contour_8_10.png
notebooks/figures/TEST.pkl_contour_7_9.png
notebooks/figures/TEST.pkl_contour_7_8.png
notebooks/figures/TEST.pkl_contour_7_14.png
notebooks/figures/TEST.pkl_contour_7_12.png
notebooks/figures/TEST.pkl_contour_7_11.png
notebooks/figures/TEST.pkl_contour_7_10.png
notebooks/figures/TEST.pkl_contour_6_9.png
notebooks/figures/TEST.pkl_contour_6_8.png
notebooks/figures/TEST.pkl_contour_6_7.png
notebooks/figures/TEST.pkl_contour_6_14.png
notebooks/figures/TEST.pkl_contour_6_12.png
notebooks/figures/TEST.pkl_contour_6_11.png
notebooks/figures/TEST.pkl_contour_6_10.png
notebooks/figures/TEST.pkl_contour_5_9.png
notebooks/figures/TEST.pkl_contour_5_8.png
notebooks/figures/TEST.pkl_contour_5_7.png
notebooks/figures/TEST.pkl_contour_5_6.png
notebooks/figures/TEST.pkl_contour_5_14.png
notebooks/figures/TEST.pkl_contour_5_12.png
notebooks/figures/TEST.pkl_contour_5_11.png
notebooks/figures/TEST.pkl_contour_5_10.png
notebooks/figures/TEST.pkl_contour_4_9.png
notebooks/figures/TEST.pkl_contour_4_8.png
notebooks/figures/TEST.pkl_contour_4_7.png
notebooks/figures/TEST.pkl_contour_4_6.png
notebooks/figures/TEST.pkl_contour_4_5.png
notebooks/figures/TEST.pkl_contour_4_14.png
notebooks/figures/TEST.pkl_contour_4_12.png
notebooks/figures/TEST.pkl_contour_4_11.png
notebooks/figures/TEST.pkl_contour_4_10.png
notebooks/figures/TEST.pkl_contour_3_9.png
notebooks/figures/TEST.pkl_contour_3_8.png
notebooks/figures/TEST.pkl_contour_3_7.png
notebooks/figures/TEST.pkl_contour_3_6.png
notebooks/figures/TEST.pkl_contour_3_5.png
notebooks/figures/TEST.pkl_contour_3_4.png
notebooks/figures/TEST.pkl_contour_3_14.png
notebooks/figures/TEST.pkl_contour_3_12.png
notebooks/figures/TEST.pkl_contour_3_11.png
notebooks/figures/TEST.pkl_contour_3_10.png
notebooks/figures/TEST.pkl_contour_2_9.png
notebooks/figures/TEST.pkl_contour_2_8.png
notebooks/figures/TEST.pkl_contour_2_7.png
notebooks/figures/TEST.pkl_contour_2_6.png
notebooks/figures/TEST.pkl_contour_2_5.png
notebooks/figures/TEST.pkl_contour_2_4.png
notebooks/figures/TEST.pkl_contour_2_3.png
notebooks/figures/TEST.pkl_contour_2_14.png
notebooks/figures/TEST.pkl_contour_2_13.png
notebooks/figures/TEST.pkl_contour_2_12.png
notebooks/figures/TEST.pkl_contour_2_11.png
notebooks/figures/TEST.pkl_contour_2_10.png
notebooks/figures/TEST.pkl_contour_1_9.png
notebooks/figures/TEST.pkl_contour_1_8.png
notebooks/figures/TEST.pkl_contour_1_7.png
notebooks/figures/TEST.pkl_contour_1_6.png
notebooks/figures/TEST.pkl_contour_1_5.png
notebooks/figures/TEST.pkl_contour_1_4.png
notebooks/figures/TEST.pkl_contour_1_3.png
notebooks/figures/TEST.pkl_contour_1_2.png
notebooks/figures/TEST.pkl_contour_1_14.png
notebooks/figures/TEST.pkl_contour_1_13.png
notebooks/figures/TEST.pkl_contour_1_12.png
notebooks/figures/TEST.pkl_contour_1_11.png
notebooks/figures/TEST.pkl_contour_1_10.png
notebooks/figures/TEST.pkl_contour_12_14.png
notebooks/figures/TEST.pkl_contour_11_14.png
notebooks/figures/TEST.pkl_contour_11_12.png
notebooks/figures/TEST.pkl_contour_10_12.png
notebooks/figures/TEST.pkl_contour_0_9.png
notebooks/figures/TEST.pkl_contour_0_8.png
notebooks/figures/TEST.pkl_contour_0_7.png
notebooks/figures/TEST.pkl_contour_0_6.png
notebooks/figures/TEST.pkl_contour_0_5.png
notebooks/figures/TEST.pkl_contour_0_4.png
notebooks/figures/TEST.pkl_contour_0_3.png
notebooks/figures/TEST.pkl_contour_0_2.png
notebooks/figures/TEST.pkl_contour_0_14.png
notebooks/figures/TEST.pkl_contour_0_13.png
notebooks/figures/TEST.pkl_contour_0_12.png
notebooks/figures/TEST.pkl_contour_0_11.png
notebooks/figures/TEST.pkl_contour_0_10.png
notebooks/figures/TEST.pkl_contour_0_1.png
notebooks/figures/24-river_bartz10_2024-03-11_18-09-42_progress.pdf
notebooks/figures/24-river_bartz10_2024-03-11_18-09-42_importance.pdf
notebooks/24-river_bartz10_2024-03-11_18-26-49.pkl
notebooks/figures/TEST.pkl_contour_10_11.png
